body {
	margin: 2rem;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

section {
	background: lightcyan;
	display: inline-block;
	padding: 1rem 2rem;
	margin: 0.5rem;
	border: 0.125rem solid gray;
	text-align: left;
	border-radius: 0.25rem;
	box-shadow: 0.25rem 0.25rem 0 0 lightcoral;
}

button {
	padding: 0.5rem;
	background: lightblue;
	width: 12rem;
	cursor: pointer;
}
button:before {
	content: "Pasa por encima";
	padding: 0.5rem;
}
button:hover:before {
	content: "¡Hecho!";
	color: white;
}
button:hover {
	background: green;
}
