body {
	margin: 2rem;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

section {
	background: lightcyan;
	display: inline-block;
	padding: 1rem 2rem;
	margin: 0.5rem;
	border: 0.125rem solid gray;
	text-align: left;
	border-radius: 0.25rem;
	box-shadow: 0.25rem 0.25rem 0 0 lightcoral;
}
li {
	border-bottom: 1px dashed gray;
}
li:first-of-type {
	color: red;
}
ul li:first-child {
	font-size: 2rem;
}
